In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://datascience.quantecon.org/assets/data/wdi_data.csv"
df = pd.read_csv(url)
df.info()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      72 non-null     object
 1   year         72 non-null     int64
 2   GovExpend    72 non-null     float64
 3   Consumption  72 non-null     float64
 4   Exports      72 non-null     float64
 5   Imports      72 non-null     float64
 6   GDP          72 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 4.1+ KB

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
1  Canada  2016   0.364899     1.058426  0.576394  0.575775  1.814016
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [3]:
df_small = df.head(5)
df_small

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
1  Canada  2016   0.364899     1.058426  0.576394  0.575775  1.814016
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [4]:
df_tiny = df.iloc[[0, 3, 2, 4], :]
df_tiny

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [5]:
im_ex = df_small[["Imports", "Exports"]]
im_ex_copy = im_ex.copy()
im_ex_copy

    Imports   Exports
0  0.600031  0.582831
1  0.575775  0.576394
2  0.575793  0.568859
3  0.572344  0.550323
4  0.558636  0.518040

In [6]:
im_ex + im_ex_copy

    Imports   Exports
0  1.200063  1.165661
1  1.151550  1.152787
2  1.151585  1.137718
3  1.144688  1.100646
4  1.117272  1.036081

In [7]:
df_tiny

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [8]:
im_ex_tiny = df_tiny + im_ex
im_ex_tiny

   Consumption   Exports  GDP  GovExpend   Imports  country  year
0          NaN  1.165661  NaN        NaN  1.200063      NaN   NaN
1          NaN       NaN  NaN        NaN       NaN      NaN   NaN
2          NaN  1.137718  NaN        NaN  1.151585      NaN   NaN
3          NaN  1.100646  NaN        NaN  1.144688      NaN   NaN
4          NaN  1.036081  NaN        NaN  1.117272      NaN   NaN

In [14]:
#Exercise 1 
im_ex_tiny.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of    Consumption   Exports  GDP  GovExpend   Imports  country  year
0          NaN  1.165661  NaN        NaN  1.200063      NaN   NaN
1          NaN       NaN  NaN        NaN       NaN      NaN   NaN
2          NaN  1.137718  NaN        NaN  1.151585      NaN   NaN
3          NaN  1.100646  NaN        NaN  1.144688      NaN   NaN
4          NaN  1.036081  NaN        NaN  1.117272      NaN   NaN>

In [11]:
df_year = df.set_index(["year"])
df_year.head()

     country  GovExpend  Consumption   Exports   Imports       GDP
year
2017  Canada   0.372665     1.095475  0.582831  0.600031  1.868164
2016  Canada   0.364899     1.058426  0.576394  0.575775  1.814016
2015  Canada   0.358303     1.035208  0.568859  0.575793  1.794270
2014  Canada   0.353485     1.011988  0.550323  0.572344  1.782252
2013  Canada   0.351541     0.986400  0.518040  0.558636  1.732714

In [12]:
df_year.loc[2010]

             country  GovExpend  Consumption   Exports   Imports        GDP
year
2010          Canada   0.347332     0.921952  0.469949  0.500341   1.613543
2010         Germany   0.653386     1.915481  1.443735  1.266126   3.417095
2010  United Kingdom   0.521146     1.598563  0.690824  0.745065   2.452900
2010   United States   2.510143    10.185836  1.846280  2.360183  14.992053

In [13]:
df_year.loc[2009].mean() - df_year.loc[2008].mean()

C:\Users\Danie\AppData\Local\Temp\ipykernel_24152\2895671375.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_year.loc[2009].mean() - df_year.loc[2008].mean()
C:\Users\Danie\AppData\Local\Temp\ipykernel_24152\2895671375.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_year.loc[2009].mean() - df_year.loc[2008].mean()

GovExpend      0.033317
Consumption   -0.042998
Exports       -0.121425
Imports       -0.140042
GDP           -0.182610
dtype: float64

In [15]:
df_year.loc[df_year["country"] == "United States", "GDP"].loc[2010]

14.992052727

In [16]:
df_year.loc[df_year["country"].isin(["United Kingdom", "Germany"]), "GDP"].loc[2010]

year
2010    3.417095
2010    2.452900
Name: GDP, dtype: float64

In [17]:
df_year.loc[2010]

             country  GovExpend  Consumption   Exports   Imports        GDP
year
2010          Canada   0.347332     0.921952  0.469949  0.500341   1.613543
2010         Germany   0.653386     1.915481  1.443735  1.266126   3.417095
2010  United Kingdom   0.521146     1.598563  0.690824  0.745065   2.452900
2010   United States   2.510143    10.185836  1.846280  2.360183  14.992053

In [18]:
nx = df_year["Exports"] - df_year["Imports"]
nx.head(19)

year
2017   -0.017201
2016    0.000619
2015   -0.006934
2014   -0.022021
2013   -0.040596
2012   -0.041787
2011   -0.035878
2010   -0.030393
2009    0.000896
2008    0.004068
2007    0.032451
2006    0.053530
2005    0.072729
2004    0.091902
2003    0.097794
2002    0.121850
2001    0.122673
2000    0.118702
2017    0.264214
dtype: float64

In [19]:
ca17 = nx.iloc[[0]]
g17 = nx.iloc[[18]]
nx.iloc[[0]] = g17
nx.iloc[[18]] = ca17

nx.head(19)

year
2017    0.264214
2016    0.000619
2015   -0.006934
2014   -0.022021
2013   -0.040596
2012   -0.041787
2011   -0.035878
2010   -0.030393
2009    0.000896
2008    0.004068
2007    0.032451
2006    0.053530
2005    0.072729
2004    0.091902
2003    0.097794
2002    0.121850
2001    0.122673
2000    0.118702
2017   -0.017201
dtype: float64

In [20]:
df_year["NetExports"] = nx
df_year["Investment"] = df_year.eval("GDP - Consumption - GovExpend - NetExports")
df_year.head(19)

,country,GovExpend,Consumption,Exports,Imports,GDP,NetExports,Investment
year,,,,,,,,
2017,Canada,0.372665,1.095475,0.582831,0.600031,1.868164,0.264214,0.135811
2016,Canada,0.364899,1.058426,0.576394,0.575775,1.814016,0.000619,0.390072
2015,Canada,0.358303,1.035208,0.568859,0.575793,1.794270,-0.006934,0.407692
2014,Canada,0.353485,1.011988,0.550323,0.572344,1.782252,-0.022021,0.438800
2013,Canada,0.351541,0.986400,0.518040,0.558636,1.732714,-0.040596,0.435369
2012,Canada,0.354342,0.961226,0.505969,0.547756,1.693428,-0.041787,0.419647
2011,Canada,0.351887,0.943145,0.492349,0.528227,1.664240,-0.035878,0.405086
2010,Canada,0.347332,0.921952,0.469949,0.500341,1.613543,-0.030393,0.374652
2009,Canada,0.339686,0.890078,0.440692,0.439796,1.565291,0.000896,0.334631
2008,Canada,0.330766,0.889602,0.506350,0.502281,1.612862,0.004068,0.388425
2007,Canada,0.318777,0.864012,0.530453,0.498002,1.596876,0.032451,0.381636
2006,Canada,0.311382,0.827643,0.524461,0.470931,1.564608,0.053530,0.372053
2005,Canada,0.303043,0.794390,0.519950,0.447222,1.524608,0.072729,0.354447
2004,Canada,0.299854,0.764357,0.508657,0.416754,1.477317,0.091902,0.321203
2003,Canada,0.294335,0.741796,0.481993,0.384199,1.433089,0.097794,0.299164
2002,Canada,0.286094,0.721974,0.490465,0.368615,1.407725,0.121850,0.277806
2001,Canada,0.279767,0.694230,0.484696,0.362023,1.366590,0.122673,0.269921
2000,Canada,0.270553,0.677713,0.499526,0.380823,1.342805,0.118702,0.275837
2017,Germany,0.745579,2.112009,1.930563,1.666348,3.883870,-0.017201,1.043482

In [21]:
wdi = df.set_index(["country", "year"])
wdi.head(20)

              GovExpend  Consumption   Exports   Imports       GDP
country year
Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
        2016   0.364899     1.058426  0.576394  0.575775  1.814016
        2015   0.358303     1.035208  0.568859  0.575793  1.794270
        2014   0.353485     1.011988  0.550323  0.572344  1.782252
        2013   0.351541     0.986400  0.518040  0.558636  1.732714
        2012   0.354342     0.961226  0.505969  0.547756  1.693428
        2011   0.351887     0.943145  0.492349  0.528227  1.664240
        2010   0.347332     0.921952  0.469949  0.500341  1.613543
        2009   0.339686     0.890078  0.440692  0.439796  1.565291
        2008   0.330766     0.889602  0.506350  0.502281  1.612862
        2007   0.318777     0.864012  0.530453  0.498002  1.596876
        2006   0.311382     0.827643  0.524461  0.470931  1.564608
        2005   0.303043     0.794390  0.519950  0.447222  1.524608
        2004   0.299854     0.764357  0.508657  0.416754  1.477317
        2003   0.294335     0.741796  0.481993  0.384199  1.433089
        2002   0.286094     0.721974  0.490465  0.368615  1.407725
        2001   0.279767     0.694230  0.484696  0.362023  1.366590
        2000   0.270553     0.677713  0.499526  0.380823  1.342805
Germany 2017   0.745579     2.112009  1.930563  1.666348  3.883870
        2016   0.734014     2.075615  1.844949  1.589495  3.801859

In [22]:
wdi.loc[("United States", 2010), "GDP"]

14.992052727

In [23]:
wdi.loc[(["United Kingdom", "Germany"], 2010), "GDP"]

country         year
United Kingdom  2010    2.452900
Germany         2010    3.417095
Name: GDP, dtype: float64

In [26]:
#Exercise 2
wdi.loc[["United States", "Canada"]]
wdi.loc[(["United States", "Canada"], [2010, 2011, 2012]), :]
wdi.loc["United States"]
wdi.loc[("United States", 2010), ["GDP", "Exports"]]
wdi.loc[("United States", 2010)]
wdi.loc[[("United States", 2010), ("Canada", 2015)]]
wdi.loc[["United States", "Canada"], "GDP"]
wdi.loc["United States", "GDP"]

year
2017    17.348627
2016    16.972348
2015    16.710459
2014    16.242526
2013    15.853796
2012    15.567038
2011    15.224555
2010    14.992053
2009    14.617299
2008    14.997756
2007    15.018268
2006    14.741688
2005    14.332500
2004    13.846058
2003    13.339312
2002    12.968263
2001    12.746262
2000    12.620268
Name: GDP, dtype: float64

In [32]:
#Exercise 3
wdi / my_df.loc[["United States", "Canada"]]
wdi / my_df[(["United States", "Canada"], [2010, 2011, 2012]), :]
wdi.loc["United States"]
wdi.loc[("United States", 2010), ["GDP", "Exports"]]
wdi.loc[("United States", 2010)]
wdi.loc[[("United States", 2010), ("Canada", 2015)]]
wdi.loc[["United States", "Canada"], "GDP"]
wdi.loc["United States", "GDP"]

NameError: name 'my_df' is not defined

In [33]:
wdi.loc[["United States", "Canada"]]

                    GovExpend  Consumption   Exports   Imports        GDP
country       year
United States 2017   2.405743    12.019266  2.287071  3.069954  17.348627
              2016   2.407981    11.722133  2.219937  2.936004  16.972348
              2015   2.373130    11.409800  2.222228  2.881337  16.710459
              2014   2.334071    11.000619  2.209555  2.732228  16.242526
              2013   2.353381    10.687214  2.118639  2.600198  15.853796
              2012   2.398873    10.534042  2.045509  2.560677  15.567038
              2011   2.434378    10.378060  1.978083  2.493194  15.224555
              2010   2.510143    10.185836  1.846280  2.360183  14.992053
              2009   2.507390    10.010687  1.646432  2.086299  14.617299
              2008   2.407771    10.137847  1.797347  2.400349  14.997756
              2007   2.351987    10.159387  1.701096  2.455016  15.018268
              2006   2.314957     9.938503  1.564920  2.395189  14.741688
              2005   2.287022     9.643098  1.431205  2.246246  14.332500
              2004   2.267999     9.311431  1.335978  2.108585  13.846058
              2003   2.233519     8.974708  1.218199  1.892825  13.339312
              2002   2.193188     8.698306  1.192180  1.804105  12.968263
              2001   2.112038     8.480461  1.213253  1.740797  12.746262
              2000   2.040500     8.272097  1.287739  1.790995  12.620268
Canada        2017   0.372665     1.095475  0.582831  0.600031   1.868164
              2016   0.364899     1.058426  0.576394  0.575775   1.814016
              2015   0.358303     1.035208  0.568859  0.575793   1.794270
              2014   0.353485     1.011988  0.550323  0.572344   1.782252
              2013   0.351541     0.986400  0.518040  0.558636   1.732714
              2012   0.354342     0.961226  0.505969  0.547756   1.693428
              2011   0.351887     0.943145  0.492349  0.528227   1.664240
              2010   0.347332     0.921952  0.469949  0.500341   1.613543
              2009   0.339686     0.890078  0.440692  0.439796   1.565291
              2008   0.330766     0.889602  0.506350  0.502281   1.612862
              2007   0.318777     0.864012  0.530453  0.498002   1.596876
              2006   0.311382     0.827643  0.524461  0.470931   1.564608
              2005   0.303043     0.794390  0.519950  0.447222   1.524608
              2004   0.299854     0.764357  0.508657  0.416754   1.477317
              2003   0.294335     0.741796  0.481993  0.384199   1.433089
              2002   0.286094     0.721974  0.490465  0.368615   1.407725
              2001   0.279767     0.694230  0.484696  0.362023   1.366590
              2000   0.270553     0.677713  0.499526  0.380823   1.342805

In [34]:
wdi.loc[pd.IndexSlice[:, [2005, 2007, 2009]], :]

                     GovExpend  Consumption   Exports   Imports        GDP
country        year
Canada         2005   0.303043     0.794390  0.519950  0.447222   1.524608
Germany        2005   0.591184     1.866253  1.175200  1.028094   3.213777
United Kingdom 2005   0.490806     1.578914  0.640088  0.715951   2.403352
United States  2005   2.287022     9.643098  1.431205  2.246246  14.332500
Canada         2007   0.318777     0.864012  0.530453  0.498002   1.596876
Germany        2007   0.605624     1.894219  1.442436  1.213835   3.441356
United Kingdom 2007   0.504549     1.644789  0.710200  0.767699   2.527327
United States  2007   2.351987    10.159387  1.701096  2.455016  15.018268
Canada         2009   0.339686     0.890078  0.440692  0.439796   1.565291
Germany        2009   0.645023     1.908393  1.260525  1.121914   3.283144
United Kingdom 2009   0.519716     1.587152  0.653830  0.689011   2.411632
United States  2009   2.507390    10.010687  1.646432  2.086299  14.617299

In [36]:
#Exercise 4
wdi2 = df.set_index(["year", "country"])
wdi.loc["United States"]

      GovExpend  Consumption   Exports   Imports        GDP
year
2017   2.405743    12.019266  2.287071  3.069954  17.348627
2016   2.407981    11.722133  2.219937  2.936004  16.972348
2015   2.373130    11.409800  2.222228  2.881337  16.710459
2014   2.334071    11.000619  2.209555  2.732228  16.242526
2013   2.353381    10.687214  2.118639  2.600198  15.853796
2012   2.398873    10.534042  2.045509  2.560677  15.567038
2011   2.434378    10.378060  1.978083  2.493194  15.224555
2010   2.510143    10.185836  1.846280  2.360183  14.992053
2009   2.507390    10.010687  1.646432  2.086299  14.617299
2008   2.407771    10.137847  1.797347  2.400349  14.997756
2007   2.351987    10.159387  1.701096  2.455016  15.018268
2006   2.314957     9.938503  1.564920  2.395189  14.741688
2005   2.287022     9.643098  1.431205  2.246246  14.332500
2004   2.267999     9.311431  1.335978  2.108585  13.846058
2003   2.233519     8.974708  1.218199  1.892825  13.339312
2002   2.193188     8.698306  1.192180  1.804105  12.968263
2001   2.112038     8.480461  1.213253  1.740797  12.746262
2000   2.040500     8.272097  1.287739  1.790995  12.620268

In [39]:
#Exercise 4 
wdi.loc[(["United States", "Canada"], [2010, 2011, 2012]), :]

                    GovExpend  Consumption   Exports   Imports        GDP
country       year
United States 2010   2.510143    10.185836  1.846280  2.360183  14.992053
              2011   2.434378    10.378060  1.978083  2.493194  15.224555
              2012   2.398873    10.534042  2.045509  2.560677  15.567038
Canada        2010   0.347332     0.921952  0.469949  0.500341   1.613543
              2011   0.351887     0.943145  0.492349  0.528227   1.664240
              2012   0.354342     0.961226  0.505969  0.547756   1.693428

In [40]:
#Exercise 4
wdi.loc[["United States", "Canada"], "GDP"]

country        year
United States  2017    17.348627
               2016    16.972348
               2015    16.710459
               2014    16.242526
               2013    15.853796
               2012    15.567038
               2011    15.224555
               2010    14.992053
               2009    14.617299
               2008    14.997756
               2007    15.018268
               2006    14.741688
               2005    14.332500
               2004    13.846058
               2003    13.339312
               2002    12.968263
               2001    12.746262
               2000    12.620268
Canada         2017     1.868164
               2016     1.814016
               2015     1.794270
               2014     1.782252
               2013     1.732714
               2012     1.693428
               2011     1.664240
               2010     1.613543
               2009     1.565291
               2008     1.612862
               2007     1.596876
               2006     1.564608
               2005     1.524608
               2004     1.477317
               2003     1.433089
               2002     1.407725
               2001     1.366590
               2000     1.342805
Name: GDP, dtype: float64

In [41]:
wdiT = wdi.T  # .T means "transpose" or "swap rows and columns"
wdiT

country        Canada                                                    \
year             2017      2016      2015      2014      2013      2012
GovExpend    0.372665  0.364899  0.358303  0.353485  0.351541  0.354342
Consumption  1.095475  1.058426  1.035208  1.011988  0.986400  0.961226
Exports      0.582831  0.576394  0.568859  0.550323  0.518040  0.505969
Imports      0.600031  0.575775  0.575793  0.572344  0.558636  0.547756
GDP          1.868164  1.814016  1.794270  1.782252  1.732714  1.693428

country                                              ... United States  \
year             2011      2010      2009      2008  ...          2009
GovExpend    0.351887  0.347332  0.339686  0.330766  ...      2.507390
Consumption  0.943145  0.921952  0.890078  0.889602  ...     10.010687
Exports      0.492349  0.469949  0.440692  0.506350  ...      1.646432
Imports      0.528227  0.500341  0.439796  0.502281  ...      2.086299
GDP          1.664240  1.613543  1.565291  1.612862  ...     14.617299

country                                                                        \
year              2008       2007       2006       2005       2004       2003
GovExpend     2.407771   2.351987   2.314957   2.287022   2.267999   2.233519
Consumption  10.137847  10.159387   9.938503   9.643098   9.311431   8.974708
Exports       1.797347   1.701096   1.564920   1.431205   1.335978   1.218199
Imports       2.400349   2.455016   2.395189   2.246246   2.108585   1.892825
GDP          14.997756  15.018268  14.741688  14.332500  13.846058  13.339312

country
year              2002       2001       2000
GovExpend     2.193188   2.112038   2.040500
Consumption   8.698306   8.480461   8.272097
Exports       1.192180   1.213253   1.287739
Imports       1.804105   1.740797   1.790995
GDP          12.968263  12.746262  12.620268

[5 rows x 72 columns]

In [42]:
wdiT.loc[:, "United States"]

year,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
GovExpend,2.405743,2.407981,2.373130,2.334071,2.353381,2.398873,2.434378,2.510143,2.507390,2.407771,2.351987,2.314957,2.287022,2.267999,2.233519,2.193188,2.112038,2.040500
Consumption,12.019266,11.722133,11.409800,11.000619,10.687214,10.534042,10.378060,10.185836,10.010687,10.137847,10.159387,9.938503,9.643098,9.311431,8.974708,8.698306,8.480461,8.272097
Exports,2.287071,2.219937,2.222228,2.209555,2.118639,2.045509,1.978083,1.846280,1.646432,1.797347,1.701096,1.564920,1.431205,1.335978,1.218199,1.192180,1.213253,1.287739
Imports,3.069954,2.936004,2.881337,2.732228,2.600198,2.560677,2.493194,2.360183,2.086299,2.400349,2.455016,2.395189,2.246246,2.108585,1.892825,1.804105,1.740797,1.790995
GDP,17.348627,16.972348,16.710459,16.242526,15.853796,15.567038,15.224555,14.992053,14.617299,14.997756,15.018268,14.741688,14.332500,13.846058,13.339312,12.968263,12.746262,12.620268

In [43]:
wdiT.loc[:, ["United States", "Canada"]]

country     United States                                              \
year                 2017       2016       2015       2014       2013
GovExpend        2.405743   2.407981   2.373130   2.334071   2.353381
Consumption     12.019266  11.722133  11.409800  11.000619  10.687214
Exports          2.287071   2.219937   2.222228   2.209555   2.118639
Imports          3.069954   2.936004   2.881337   2.732228   2.600198
GDP             17.348627  16.972348  16.710459  16.242526  15.853796

country                                                             ...  \
year              2012       2011       2010       2009       2008  ...
GovExpend     2.398873   2.434378   2.510143   2.507390   2.407771  ...
Consumption  10.534042  10.378060  10.185836  10.010687  10.137847  ...
Exports       2.045509   1.978083   1.846280   1.646432   1.797347  ...
Imports       2.560677   2.493194   2.360183   2.086299   2.400349  ...
GDP          15.567038  15.224555  14.992053  14.617299  14.997756  ...

country        Canada                                                    \
year             2009      2008      2007      2006      2005      2004
GovExpend    0.339686  0.330766  0.318777  0.311382  0.303043  0.299854
Consumption  0.890078  0.889602  0.864012  0.827643  0.794390  0.764357
Exports      0.440692  0.506350  0.530453  0.524461  0.519950  0.508657
Imports      0.439796  0.502281  0.498002  0.470931  0.447222  0.416754
GDP          1.565291  1.612862  1.596876  1.564608  1.524608  1.477317

country
year             2003      2002      2001      2000
GovExpend    0.294335  0.286094  0.279767  0.270553
Consumption  0.741796  0.721974  0.694230  0.677713
Exports      0.481993  0.490465  0.484696  0.499526
Imports      0.384199  0.368615  0.362023  0.380823
GDP          1.433089  1.407725  1.366590  1.342805

[5 rows x 36 columns]

In [44]:
wdiT.loc[:, (["United States", "Canada"], 2010)]

country     United States    Canada
year                 2010      2010
GovExpend        2.510143  0.347332
Consumption     10.185836  0.921952
Exports          1.846280  0.469949
Imports          2.360183  0.500341
GDP             14.992053  1.613543

In [47]:
#Exercise 5
pd.IndexSlice
wdiT.loc[:, (["United States", "Canada"], 2010, 2012, 2014)]

IndexError: list index out of range

In [48]:
wdi.reset_index()

          country  year  GovExpend  Consumption   Exports   Imports        GDP
0          Canada  2017   0.372665     1.095475  0.582831  0.600031   1.868164
1          Canada  2016   0.364899     1.058426  0.576394  0.575775   1.814016
2          Canada  2015   0.358303     1.035208  0.568859  0.575793   1.794270
3          Canada  2014   0.353485     1.011988  0.550323  0.572344   1.782252
4          Canada  2013   0.351541     0.986400  0.518040  0.558636   1.732714
..            ...   ...        ...          ...       ...       ...        ...
67  United States  2004   2.267999     9.311431  1.335978  2.108585  13.846058
68  United States  2003   2.233519     8.974708  1.218199  1.892825  13.339312
69  United States  2002   2.193188     8.698306  1.192180  1.804105  12.968263
70  United States  2001   2.112038     8.480461  1.213253  1.740797  12.746262
71  United States  2000   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 7 columns]

In [51]:
#Exercise 5
wdi.reset_index( country )

NameError: name 'country' is not defined

In [50]:
wdi.reset_index(Year)

NameError: name 'Year' is not defined

In [52]:
import pandas as pd
import numpy as np

In [53]:
np.random.seed(42)  
df1 = pd.DataFrame(
    np.random.randint(0, 100, size=(10, 4)),
    columns=["a", "b", "c", "d"]
)

wanted_mb = 10  # CHANGE THIS LINE
nrow = 100000
ncol = int(((wanted_mb * 1024**2) / 8) / nrow)
df2 = pd.DataFrame(
    np.random.rand(nrow, ncol),
    columns=["x{}".format(i) for i in range(ncol)]
)

print("df2.shape = ", df2.shape)
print("df2 is approximately {} MB".format(df2.memory_usage().sum() / (1024**2)))

df2.shape =  (100000, 13)
df2 is approximately 9.918338775634766 MB

In [54]:
print(df1.to_csv())

,a,b,c,d
0,51,92,14,71
1,60,20,82,86
2,74,74,87,99
3,23,2,21,52
4,1,87,29,37
5,1,63,59,20
6,32,75,57,21
7,88,48,90,58
8,41,91,59,79
9,14,61,61,46

In [55]:
df1.to_csv("df1.csv")

In [56]:
import os
os.path.isfile("df1.csv")

True

In [57]:
%%time
df2.to_csv("df2.csv")

CPU times: total: 1.09 s
Wall time: 1.45 s

In [62]:
import pyarrow.feather
pyarrow.feather.write_feather(df1, "df1.feather")

In [63]:
%%time
pyarrow.feather.write_feather(df2, "df2.feather")

CPU times: total: 31.2 ms
Wall time: 22.5 ms

In [64]:
df1_csv = pd.read_csv("df1.csv", index_col=0)
df1_csv.head()

    a   b   c   d
0  51  92  14  71
1  60  20  82  86
2  74  74  87  99
3  23   2  21  52
4   1  87  29  37

In [65]:
df1_xlsx = pd.read_excel("df1.xlsx", "df1", index_col=0)
df1_xlsx.head()

    a   b   c   d
0  51  92  14  71
1  60  20  82  86
2  74  74  87  99
3  23   2  21  52
4   1  87  29  37

In [66]:
df1_feather = pyarrow.feather.read_feather("df1.feather")
df1_feather.head()

    a   b   c   d
0  51  92  14  71
1  60  20  82  86
2  74  74  87  99
3  23   2  21  52
4   1  87  29  37

In [67]:
df1_url = "https://raw.githubusercontent.com/QuantEcon/lecture-datascience.myst/main/lectures/pandas/df1.csv"
df1_web = pd.read_csv(df1_url, index_col=0)
df1_web.head()

    a   b   c   d
0  51  92  14  71
1  60  20  82  86
2  74  74  87  99
3  23   2  21  52
4   1  87  29  37